<% include functions%>
<tr>
    <td>
        <%=documents.length - i%>
    </td>
    <td>
        <%=documents[i]['postId']%>
    </td>
    <td>
        <a href="post?id=<%= documents[i]['@unid']%>">
            <%= documents[i]['postTitle'] %>
        </a>
    </td>
    <td class="text-right">
        <%= getFormattedDate(documents[i]['postDate']['data']) %>
    </td>
</tr>