<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
    aria-controls="collapseExample">
    Explained
</a>
<br />
<div class="collapse" id="collapseExample">
    <br />
    <div class"well">
        <pre><%=explain%></pre>
    </div>
</div>