<% include functions%>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <p class="navbar-text navbar-right">
            &copy; 2018-<%=new Date().getFullYear()%> Oliver Busse, <a href="http://oliverbusse.com" target="_blank">http://oliverbusse.com</a>
        </p>
    </div>
</nav>