<%
getFormattedDate = function(ts) {
    var d = new Date(ts);
    var date = (d.getDate() < 10) ? "0" + d.getDate() : d.getDate();
    var month = ((d.getMonth() + 1) < 10) ? "0" + (d.getMonth() + 1) : d.getMonth() + 1;
    var formattedDate = date + "." + month + "." + d.getFullYear();
    var hours = (d.getHours() < 10) ? "0" + d.getHours() : d.getHours();
    var minutes = (d.getMinutes() < 10) ? "0" + d.getMinutes() : d.getMinutes();
    var formattedTime = hours + ":" + minutes;

    formattedDate = formattedDate + ", " + formattedTime;
    return formattedDate;
}
%>