<div class="alert alert-info">
    <div>
        <span class="glyphicon glyphicon-info-sign"></span>
        <%=server%> !!
        <%=filepath%>
    </div>
    <div><span class="glyphicon glyphicon-search"></span>
        <%=message %>
    </div>
</div>