<html>

<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1>
                <%=title %>
            </h1>
            <p>This is a small demo for Domino V10 Node.js integration.</p>
            <p>Grab the code here: <a href="https://gitlab.com/obusse/domino-node-list" target="_bank">https://gitlab.com/obusse/domino-node-list</a></p>
        </div>
    </div>
    <% include ../partials/footer %>
</body>

</html>