<html>

<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1>
                <%=title %>
            </h1>
            <p><%=message%></p>
            <p><%=code%></p>
        </div>
    </div>
    <% include ../partials/footer %>
</body>

</html>