<html>

<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>
                    <%=title %>
                </h1>
                <h4>Found
                    <%=total %> posts, displaying max.
                    <%=max %> entries
                </h4>

                <% include ../partials/explain %>

                <h4>Results</h4>
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th class="text-right">Date</th>
                    </tr>
                    <% for(var i=0; i<documents.length; i++) {%>
                    <% include ../partials/datarow.ejs %>
                    <% } %>
                </table>
            </div>
            <div class="col-md-3">
                <% include ../partials/info %>
                <% include ../partials/tags %>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>
</body>

</html>