<html>

<% include ../partials/head %>
<% include ../partials/functions%>

<body>
    <% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h2>
                <%=postTitle %>
            </h2>
            <h4>
                <%=getFormattedDate(postDate)%>
            </h4>
            <h5>
                <%=postId%>
            </h5>
            <%for(var x=0; x<postTags.length; x++){%>
            <a href="/bytag?tag=<%=postTags[x]%>"
            <span class="badge">
                <%=postTags[x]%></span>
                </a>
            <%}%>

            <p>
                <%=postBody %>
            </p>
        </div>
    </div>
    <% include ../partials/footer %>
</body>

</html>